*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

/* base*/
:root {
    --primary-color: #233d5a;
    --while-color: #fff;
    --black-color: #000;
    --boder-color: #cecdcd;

    --button-color:#233d5a;
    --textbt-color: #fff;

}
html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}


/*main*/
#header{
    width: 100%;
    height: 110px;
    background-color: var(--primary-color);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.logo-img{
    width: 110px;
    height: 105px;
    float: left;
    position: absolute;
    left: 6%;
    padding-top: 5px;
}


.search{
    margin-top: 38px;
    width: 230px;
    position: relative;
    display: inline-block;
    float: right;
    margin-right: 10%;
    font-size: 15px;
}
.search-btn
{
    padding: 5px;
    width: 230px;
    border: 1.5px solid var(--text-color);
    height: 35px;
}
.search-icon{
    padding-right: 30px;
    padding: 5px;
    border-radius: 30px;
    border-color: var(--text-color);
    background-color: var(--primary-color);
}

.fa-search {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
  }

.user-icon,
.fa-search{
    cursor: pointer;
}
.icon {
    font-size: 22px;
    color: var(--text-color);
    position: absolute;
    top: 37%;
    right: 7%;
  }
  
  .cart-icon,
  .user-icon {
    display: inline;
    padding: 10px;
    color: var(--text-color);
  }
  .fa-user:before{
    color: var(--text-color);
  }
  .nav-container {
    position: absolute;
    top: 50%; /* Đưa menu lên giữa theo chiều cao */
    transform: translateY(-50%); 
    left: 18%; 
  }
  
  .nav {
    list-style: none;
    padding: 0;
    display: flex; /* Chuyển menu thành dạng ngang */
  }
  
  .nav li {
    display: inline;
    position: relative;
  }
  
  .nav li a {
    text-decoration: none;
    padding: 0 9px;
    font-size: 1.4em;
    color: var(--textbt-color);
    line-height: 50px;
    display: block;
    width: max-content; 
  }
  
  .nav li a:hover {
    opacity: 0.8;
  }
  
/* Menu con (Submenu) 
  .nav li ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    border: 1px solid #ccc;
  }
  
  .nav li:hover ul {
    display: block;
  }
  
  .nav li ul li {
    display: block;
  }
  
  .nav li ul li a {
    color: #333;
  }
  
  .nav li ul li a:hover {
    background-color: #eee;
  }*/
/* footer*/
footer{
    width: 100%;
    height:350px;
    background-color: var(--primary-color);
    float: left;
    color: var(--textbt-color);
}

.policy,
.contact {
width: 30%;
}

.policy,
.contact ,
.CustomerCare{
    height: auto;
    text-align: center;
    color: var(--text-color);
    text-align: center;
    float: left;
}
.CustomerCare{
    width: 40%;
}

.policy-title,
.contact-title,
.CustomerCare-title{
    font-size: 1.8em;
    padding-top: 40px;
    padding-bottom: 10px;
    width: 100%;
}
.policy-information a,
.contact-information {
font-size: 1.7em;
text-decoration: none;
color: var(--text-color);
}

.policy-information a,
.contact-information p{
    line-height: 40px;
}

.Community-title{
    font-size: 1.8em;
    margin-top: 25px;
    padding-bottom: 20px;
}
.Community-icon{
    color: var(--text-color);
    font-size: 35px;
    padding-right: 30px;
}
/*Lập phiếu kk*/
.container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px 0;
}
.body {
  padding: 15px 0;
  flex-direction: column;
  display: flex;
  align-items: center;
  background-color: white;
  border: 1px solid #000;
}
.input-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 5px 0;
}
.danhsach{
  left: 5px;
  flex-direction: row;
  margin: 3px 0;
  font-size: 18px;
}
.labelmakho{
  min-width: 150px;
  font-size: 18px;
}

.labelInput {
  min-width: 150px;
  font-size: 18px;
}
.input {
 width: 240px;
 border-radius: 5px;
 height: 30px;
}

.title{
  align-items: center;
  text-align: center;
  font-size: 20px;
  padding-bottom: 10px;
}
.codeForm{
  align-self: flex-end;
  font-size: 14px;
}

.custom-table {
  width: 100%;
  border-collapse: separate; 
  border-spacing: 0; 
  background-color: white;
  padding: 10px 20px;
}

.custom-cell {
  width: 100px;
  height: 50px;
  border: 1px solid #D9D9D9;
  text-align: center;
  vertical-align: middle;
}
.btn{
  display: flex;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
}
.buttonCancel, .buttonCreate {
  width: 150px;
  height: 50px;
  font-size: 20px;
  font-weight: 500;
}

.buttonCancel{
  background-color: #60666d;
  color: var(--while-color);
}
.buttonCreate{
  background-color: rgb(47, 120, 222);
  color: var(--while-color);
}

.nsx, .nhh{
  width: 100px;
  height: 50px;
  border: none;
}
/*xem kho, xem phiếu*/
main{
  margin-top: 130px;
}
main h1{
  color: var(--black-color);
  text-align: center;
}

.kho {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .kho-sub {
    width: 500px;
    border: 1px solid black;
    height: 90px;
    margin: 0 40px; /* Khoảng cách giữa các phần tử kho */
    margin-top: 30px;
    display: flex; /* Sử dụng display: flex */
    align-items: center; /* Căn giữa theo chiều cao */
    justify-content: center; /* Căn giữa theo chiều ngang */
    background-color: var(--base-color);
    border-color: var(--boder-color);
  }
  
  .kho-sub a {
    text-decoration: none;
    font-size: 1.6em;
    color: var(--textbd-color);
  }
  /*Nút back*/
  .back{
    float: right;
    margin-top: 30px;
    margin-right: 8%;
    margin-bottom: 40px;
  }
  .back button{
    background-color: var(--button-color);
    padding: 14px 28px;
    border: none;
    cursor: pointer;
    color: var(--while-color);
    font-size: 1.6em;
    /*margin-bottom: 40px;*/
  }
  